[alias]
	# Aliases cannot overwrite builtin commands or git-<something> scripts.
	# Add -rb suffix to be able to invoke them regardless.
	biggest-commits-rb = !ruby \"$(cygpath --windows --absolute $DOTFILES/git/bin/git-biggest-commits)\" $*
	rank-rb = !ruby \"$(cygpath --windows --absolute $DOTFILES/git/bin/git-rank-contributors)\" $*
	wtf-rb = !ruby \"$(cygpath --windows --absolute $DOTFILES/git/bin/git-wtf)\" --all --relations
